/*--------------------------------GERAL---------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Cores*/

    --azul_escuro: #000320;
    --azul_claro: #6A74CB;
    --azul_claro2: #D8DBF5;
    --claro: #F4F5FF;


    font-family: 'Manrope', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--claro);
    font-family: Manrope, sans-serif;


}

header {
    background-color: var(--azul_escuro);
    height: 100vh;
    overflow: hidden;
}

h2 {
    font-size: 2.1rem;
    color: var(--azul_escuro);
    margin-left: 7%;
    margin-top: 7%;

}

h3 {
    color: var(--azul_escuro);
}

h4 {
    color: var(--claro);
    transition: color 0.3s ease;
}
.cor-no-scroll {
    color: var(--azul_escuro); 
}
h4:hover{
    color: var(--azul_claro); 
}
main {
    /*  width: 70%;*/
    height: auto;
}

/*--------------------------------BARRA DE NAVEGAÇÃO---------------------------------------*/

nav {
    position: fixed;
    width: 100%;
    /*background-color: rgba(0, 3, 32, 0.8);*/
}

.menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -5vh;
    right: 3vw;
}

.menulist {
    display: flex;
    gap: 4%;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    padding: 2%;
    justify-content: flex-end;
}

.menulist li a {
    text-decoration: none;
}

.logo {
    width: 15%;
    position: relative;
    left: 5vw;
    top: 4.2vh;
}

hr {
    transition: opacity 0.3s ease;
    color: var(--claro);
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -5vh;
}

/*--------------------------------HEADER IMG---------------------------------------*/

#headerimg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.apod-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--------------------------------IMAGE OF THE DAY APOD---------------------------------------*/

#contentapod {
    display: grid;
    gap: 10px;
    padding: 7%;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
    width: 100vw;
    height: 100%;
}

.apod-title {
    grid-column: 1 / span 6;
    grid-row: 1/ span 1;
    height: fit-content;
}

.apod-date {
    grid-column: 1 / span 6;
    grid-row: 2/ span 1;
    height: fit-content;
}

/*
.containerAPODimg {
    grid-column: 6 / span 5;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-left: 35%;
    margin-top: -10%;
}*/

.image2Apod {
    grid-column: 6 / span 5;
    height: fit-content;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}




.apod-explanation {
    grid-column: 1 / span 5;
    grid-row: 3/ span 1;
    height: fit-content;
}



/*--------------------------------CATEGORIAS---------------------------------------*/
#Clean {
    all: unset;
    cursor: pointer;
    background: var(--azul_claro2);
    padding: 1%;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
}
#Clean:hover{
    color: var(--azul_claro);
}
#orderBy {
    background-color: var(--claro);
    height: 25%;
    border-radius: 50px;
    border: 2px solid var(--azul_claro);
    font-weight: 600;
    cursor: pointer;
    color: var(--azul_claro);
}
label {
    color: var(--azul_claro);
    font-weight: 600;
    font-size:0.8rem 
}
.category-btn {
    background-color: var(--claro);
    height: 25%;
    width: 80px;
    border-radius: 50px;
    border: 2px solid var(--azul_escuro);
    color: var(--azul_escuro);
    font-weight: 600;
    cursor: pointer;
}

.category-btn:active {
    background-color: var(--azul_claro);
    color: var(--claro);
}
.category-btn:hover {
    background-color: var(--azul_claro);
    color: var(--claro);
}
.category {
    background-color: var(--claro);
    height: 25%;
    width: fit-content;
    border-radius: 50px;
    border: 2px solid var(--azul_escuro);
    color: var(--azul_escuro);
    font-weight: 600;
    cursor: pointer;


}
.category:hover {
    background-color: var(--azul_claro);
    color: var(--claro);
}
#discover-filter {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100vw;
}

#filters {
    display: flex;
    gap: 10px;
    padding: 2%;
    grid-template-columns: repeat(8 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#stars {
    grid-column: 1 / span 2;
    grid-row: 1/ span 1;
}

#galaxy {
    grid-column: 3 / span 2;
    grid-row: 1/ span 1;
}

#nebul {
    grid-column: 5 / span 2;
    grid-row: 1/ span 1;
}

#comet {
    grid-column: 7 / span 2;
    grid-row: 1/ span 1;
}

#categorySelect {
    grid-column: 1 / span 3;
    grid-row: 2/ span 1;
}

#categorySelect2 {
    grid-column: 4/ span 3;
    grid-row: 2/ span 1;
}

#categorySelect3 {
    grid-column: 7/ span 3;
    grid-row: 2/ span 1;
}

/*--------------------------------DISCOVER APOD-------------------------------*/

#apod-container {
    width: 100%;
    /* margin-left: 15%; */
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.discoverapodlist {
    background-color: var(--azul_claro2);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 2%;
    gap: 10px;
    margin: 7%;
    border-radius: 5px;
    width: 70%;
}

.imgdiscover-container {
    width: 200px;
    height: 200px;
    object-fit: cover;
    grid-column: 1 / span 2;
}

.imagediscoverlist {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    margin: 4%;
}

.titlediscoverlist {
    grid-column: 4/ span 10;
    grid-row: 1/ span 1;
    height: fit-content;
}

.datediscoverlist {
    grid-column: 4 / span 4;
    grid-row: 1/ span 1;
    height: fit-content;
    margin-top: 14%;
}

.explanation-disc {
    grid-column: 4 / span 10;
    grid-row: 1/ span 4;
    height: fit-content;
    margin-top: 17%;
}

.seemore {
    all: unset;
    grid-column: 12 / span 5;
    grid-row: 1/ span 4;
    height: fit-content;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
}

/*--------------------------------SEARCH APOD-------------------------------*/
#displaysearch {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#displayresult {
    display: grid;
    background-color: var(--azul_claro2);
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    border-radius: 5px;
    width: fit-content;
    padding: 4%;
    justify-content: center;
    justify-items: start;
    /* margin-left: 40%; */
    width: 50%;
}

.searchtitle {
    grid-column: 2/ span 10;
    grid-row: 1/ span 1;
    height: fit-content;
}

.searchdate {
    grid-column: 2/ span 10;
    grid-row: 2/ span 1;
    height: fit-content;
}

.containersearchIMG {
    width: 350px;
    height: 350px;
    object-fit: cover;
    grid-column: 5 / span 2;
    grid-row: 3 /span 1;
}

.searchimg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    /* margin: 4%; */
}
/*
#search-space {
    display: flex;
    align-items: flex-end;
    gap: 45%;

}
#search-container {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    margin-right: 4%;
}*/

#search-btn{
    border-radius: 100%;
    height: 40px;
    /* all: unset; */
    background-color: var(--claro);
    width: 40px;
    cursor: pointer;
    border: 2px solid var(--azul_escuro);
   
}

#img-lupa{
    width: 60%;
    height: auto;
    
}
#search-btn:hover {
    background-color: var(--azul_claro);
}



#input-search {
    padding: 10px;
    border: 2px solid var(--azul_escuro);
    border-radius: 20px;
    outline: none;
    width: 20vw;
    background-color: var(--claro);
    font-weight: 600;
}

#input-search::placeholder {
    color: var(--azul_claro); 
}

.searchexplanation {
    grid-column: 2/ span 8;
    grid-row: 6/ span 1;
    height: fit-content;
}

/* RESPONSIVIDADE DESKTOP*/
@media screen and (min-width: 980px) {
    .containerAPODimg {
        grid-column: 6 / span 5;
        width: 350px;
        height: 350px;
        object-fit: cover;
        margin-left: 35%;
        margin-top: -10%;
    }
    #search-space {
        display: flex;
        align-items: flex-end;
        gap: 30%;
    
    }
    #search-container {
        display: flex;
        gap: 5px;
        justify-content: flex-end;
        margin-right: 4%;
    }
}

/* INTERMÉDIO/ TABLETS*/
@media screen and (min-width: 600px) and (max-width: 980px) {

    .containerAPODimg {
        grid-column: 6 / span 5;
        grid-row: 3 / span 6;
        width: 270px;
        height: 270px;
        object-fit: cover;
        margin-left: 25%;
    }

    .apod-explanation {
        grid-column: 1 / span 6;
        grid-row: 3/ span 1;
        height: fit-content;
        font-size: 0.9rem;
    }

    #search-space {
        display: flex;
        align-items: flex-end;
        gap: 30%;
    
    }
    #search-container {
        display: flex;
        gap: 5px;
        justify-content: flex-end;
        margin-right: 4%;
    }

}

/*MOBILE TELEMOVEL*/
@media screen and (max-width: 600px) {
    h2 {
        font-size: 2.1rem;
        margin-left: 7%;
        margin-top: 7%;
        font-size: 1.65rem;
    }

    h4 {

        font-size: 1.3rem;
    }

    hr {

        display: none;
    }

    .logo {
        width: 25%;
        position: relative;
        left: 5vw;
        top: 4.2vh;
        z-index: 15;
    }


    .menulist {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 3%;
        width: 100vw;
        height: 112vh;
        background-color: var(--azul_escuro);
    }

    .menulist.show {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 10vh;
    }


    .menulist li {
        margin: 0;
        text-align: center;
    }

    .menu-toggle {
        cursor: pointer;
        display: block;
        margin-top: 20px;
        padding: 20px;
        z-index: 15;
    }

    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: var(--azul_claro2);
        margin: 5px 0;
        transition: 0.4s;
        border-radius: 5px;
    }
    .menu-toggle.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }




    /*--------------------------------SEARCH APOD-------------------------------*/
    #search-container {
        display: flex;
        gap: 5px;
        justify-content: flex-start;
        margin-top: 6%;
        margin-left: 6%;
        
    }
    #input-search {
        padding: 10px;
        border: 2px solid var(--azul_escuro);
        border-radius: 20px;
        outline: none;
        width: 60vw;
        background-color: var(--claro);
    }
    .apod-title {
        grid-column: 1 / span 10;
        grid-row: 1/ span 1;
    }

    .apod-date {
        grid-column: 1 / span 6;
        grid-row: 2/ span 1;
    }

    .containerAPODimg {
        grid-column: 1 / span 8;
        grid-row: 4 / span 6;
        width: 250px;
        height: 250px;
    }

    .apod-explanation {
        grid-column: 1 / span 10;
        grid-row: 12/ span 1;
        font-size: 0.8rem;
    }



    /*--------------------------------SEARCH APOD-------------------------------*/

    #displayresult {
        width: 90%;
    }

    .containersearchIMG {
        width: 250px;
        height: 250px;
        grid-column: 6 / span 2;
        grid-row: 3 /span 1;
    }

    .searchtitle {
        grid-column: 4/ span 10;
    }

    .searchdate {
        grid-column: 4/ span 10;
    }

    .searchexplanation {
        grid-column: 4/ span 6;
        grid-row: 5/ span 1;
        font-size: 0.8rem;
    }

    /*-----------------DISCOVER APOD --------------------------*/
    .discoverapodlist {
        width: 90%;
    }

    .titlediscoverlist {
        grid-column: 4/ span 10;
        grid-row: 1/ span 1;
    }

    .explanation-disc {
        grid-column: 1 / span 10;
        grid-row: 2/ span 6;
        margin-top: 6%;
        margin-left: 3%;
        font-size: 0.8rem;
    }

    .datediscoverlist {
        grid-column: 4 / span 8;
        grid-row: 2/ span 1;
        margin-top: -20%;
        position: relative;
    }

    .seemore {
        grid-column: 9 / span 5;
        grid-row: 7/ span 4;
        font-size: 0.8rem;
    }

    .imgdiscover-container {
        width: 170px;
        height: 170px;
        object-fit: cover;
        grid-column: 1 / span 2;
    }
}